@font-face {
  font-family: "Gilroy-Bold";
  src: url("assets/fonts/Gilroy-Bold.eot");
  src: url("assets/fonts/Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("assets/fonts/Gilroy-Bold.otf") format("opentype"), url("assets/fonts/Gilroy-Bold.svg") format("svg"), url("assets/fonts/Gilroy-Bold.ttf") format("truetype"), url("assets/fonts/Gilroy-Bold.woff") format("woff"), url("assets/fonts/Gilroy-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("assets/fonts/Gilroy-Regular.eot");
  src: url("assets/fonts/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("assets/fonts/Gilroy-Regular.otf") format("opentype"), url("assets/fonts/Gilroy-Regular.svg") format("svg"), url("assets/fonts/Gilroy-Regular.ttf") format("truetype"), url("assets/fonts/Gilroy-Regular.woff") format("woff"), url("assets/fonts/Gilroy-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

p, b, a, span, label, input, textarea {
  color: #272D4E;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

p {
  margin-bottom: 0;
}

li {
  list-style-type: none;
  font-size: 12px;
  line-height: 22px;
}

header {
  position: relative;
  overflow: hidden;
  height: 715px;
}

header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 129%;
  top: -20%;
  left: 57%;
  z-index: -1;
  background: url(assets/images/M.svg) 0 0 no-repeat;
  opacity: .3;
}

.mt-2 {
  margin-top: 2px !important;
}

.mr-3 {
  margin-right: 3px !important;
}

.mt-4 {
  margin-top: 4px !important;
}

.mt-6 {
  margin-top: 6px;
}

.mt-8 {
  margin-top: 8px;
}

.ml-10 {
  margin-left: 10px;
}

.mt-10, .my-10 {
  margin-top: 10px;
}

.mb-10, .my-10 {
  margin-bottom: 10px;
}

.mx-10 {
  margin-left: 10px;
  margin-right: 10px;
}

.mt-14 {
  margin-top: 14px;
}

.ml-15 {
  margin-left: 15px;
}

.mt-15 {
  margin-top: 15px;
}

.ml-18 {
  margin-left: 18px;
}

.mt-18 {
  margin-top: 18px;
}

.mt-20 {
  margin-top: 20px;
}

.ml-20 {
  margin-left: 20px;
}

.mr-20 {
  margin-right: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mt-21 {
  margin-top: 21px;
}

.ml-23 {
  margin-left: 23px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-28 {
  margin-top: 28px;
}

.mt-30 {
  margin-top: 30px;
}

.ml-30 {
  margin-left: 30px;
}

.mt-32 {
  margin-top: 32px;
}

.ml-34 {
  margin-left: 34px;
}

.ml-35 {
  margin-left: 35px;
}

.mt-35 {
  margin-top: 35px;
}

.ml-40 {
  margin-left: 40px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-48 {
  margin-top: 48px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-77 {
  margin-top: 77px;
}

.mt-78 {
  margin-top: 78px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-84 {
  margin-top: 84px;
}

.mt-95 {
  margin-top: 95px;
}

.mt-110 {
  margin-top: 110px;
}

.ml-100 {
  margin-left: 98px;
}

.mt-120 {
  margin-top: 120px;
}

.mt-127 {
  margin-top: 127px;
}

.mt-128 {
  margin-top: 128px;
}

.mt-150 {
  margin-top: 150px;
}

.mt-170 {
  margin-top: 170px !important;
}

.mt-200 {
  margin-top: 200px;
}

.mt-235 {
  margin-top: 235px;
}

.mt-240 {
  margin-top: 240px;
}

.pt-2 {
  padding-top: 2px !important;
}

.px-5 {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.pt-6 {
  padding-top: 6px;
}

.p-7 {
  padding: 7px;
}

.pt-7 {
  padding-top: 7px;
}

.py-7 {
  padding-top: 7px;
  padding-bottom: 7px;
}

.pb-8 {
  padding-bottom: 8px;
}

.pr-9 {
  padding-right: 9px;
}

.py-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.pb-10 {
  padding-bottom: 10px;
}

.py-11 {
  padding-top: 11px;
  padding-bottom: 11px;
}

.py-13 {
  padding-top: 13px;
  padding-bottom: 13px;
}

.pl-14 {
  padding-left: 14px;
}

.py-14 {
  padding-top: 14px;
  padding-bottom: 14px;
}

.pt-15 {
  padding-top: 15px;
}

.px-15 {
  padding-left: 15px;
  padding-right: 15px;
}

.pr-15 {
  padding-right: 15px;
}

.pb-16 {
  padding-bottom: 16px;
}

.pt-16 {
  padding-top: 16px;
}

.py-16 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.pb-17 {
  padding-bottom: 17px;
}

.py-19 {
  padding-top: 19px;
  padding-bottom: 19px;
}

.py-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.pl-20 {
  padding-left: 20px;
}

.p-20 {
  padding: 20px;
}

.pt-21 {
  padding-top: 21px;
}

.pb-22 {
  padding-bottom: 22px;
}

.px-22 {
  padding-left: 22px;
  padding-right: 22px;
}

.pl-23 {
  padding-left: 23px !important;
}

.pl-24 {
  padding-left: 24px;
}

.px-30 {
  padding-left: 30px;
  padding-right: 30px;
}

.py-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.py-34 {
  padding-top: 34px;
  padding-bottom: 34px;
}

.px-35 {
  padding-left: 35px;
  padding-right: 35px;
}

.pr-40 {
  padding-right: 40px;
}

.pl-43 {
  padding-left: 43px;
}

.pr-43 {
  padding-right: 43px;
}

.px-50 {
  padding-left: 50px;
  padding-right: 50px;
}

.pb-52 {
  padding-left: 52px;
  padding-right: 52px;
}

.px-57 {
  padding-left: 57px;
  padding-right: 57px;
}

.pt-57 {
  padding-top: 57px;
}

.pb-57 {
  padding-bottom: 57px;
}

.pt-60 {
  padding-top: 60px;
}

.pr-67 {
  padding-right: 67px;
}

.pb-67 {
  padding-bottom: 67px;
}

.pr-68 {
  padding-right: 52px;
}

.py-70 {
  padding-top: 70px;
  padding-bottom: 70px;
}

.px-105 {
  padding-left: 105px;
  padding-right: 105px;
}

.pb-105 {
  padding-bottom: 105px;
}

.pb-112 {
  padding-bottom: 112px;
}

.pb-117 {
  padding-bottom: 117px;
}

.px-118 {
  padding-left: 118px;
  padding-right: 118px;
}

.pr-119 {
  padding-right: 119px;
}

.px-120 {
  padding-left: 104px;
  padding-right: 104px;
}

.pl-120 {
  padding-left: 104px;
}

.pl-172 {
  padding-left: 172px;
}

.px-195 {
  padding-left: 179px;
  padding-right: 179px;
}

.pb-208 {
  padding-bottom: 208px;
}

.px-210 {
  padding-left: 195px;
  padding-right: 195px;
}

.pl-210 {
  padding-left: 195px;
}

.pt-290 {
  padding-top: 290px;
}

.pb-330 {
  padding-bottom: 330px;
}

.w20 {
  width: 20px;
}

.w96 {
  width: 96px;
}

.w140 {
  width: 140px;
}

.w181 {
  width: 181px;
}

.w445 {
  width: 445px;
}

.w585 {
  width: 585px;
}

.mw932 {
  max-width: 932px;
}

.wfull {
  width: 100vw;
}

.w100pc {
  width: 100%;
}

.w14 {
  width: 14px;
}

.h0 {
  height: 0;
}

.h14 {
  height: 14px;
}

.h20 {
  height: 20px;
}

.h45 {
  height: 45px;
  overflow: hidden;
}

.h96 {
  height: 96px;
}

.h135 {
  height: 135px;
}

.h240 {
  height: 240px;
}

.hfull {
  height: 100vh;
}

.f2 {
  font-family: 'Gilroy-Bold';
}

.f3 {
  font-family: 'Gilroy';
}

.fs-10 {
  font-size: 10px;
}

.fs-12 {
  font-size: 12px;
}

.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}

.fs-19 {
  font-size: 19px;
}

.fs-20 {
  font-size: 20px;
}

.fs-21 {
  font-size: 21px;
}

.fs-28 {
  font-size: 28px;
}

.fs-30 {
  font-size: 30px;
}

.fs-32 {
  font-size: 32px;
}

.fs-40 {
  font-size: 40px;
}

.fs-42 {
  font-size: 42px;
}

.fs-50 {
  font-size: 50px;
}

.fw-8 {
  font-weight: 800;
}

.fw-5 {
  font-weight: 500;
}

.fw-7 {
  font-weight: 700;
}

.lh-22 {
  line-height: 22px;
}

.lh-25 {
  line-height: 25px;
}

.op12 {
  opacity: .12;
}

.op8 {
  opacity: .8;
}

.op7 {
  opacity: .7;
}

.op5 {
  opacity: .5;
}

.op3 {
  opacity: .3;
}

.overhid {
  overflow: hidden;
}

.white {
  color: white;
}

.z-index--1 {
  z-index: -1;
}

.bottom--90 {
  bottom: -90px !important;
}

.top--220 {
  top: -220px !important;
}

.r-81 {
  right: 81px !important;
}

.logo-container {
  height: 29px;
}

.logo-container img {
  height: 100%;
}

.register {
  background-color: #E8E029;
  border-radius: 55px;
}

.do-login {
  color: rgba(39, 45, 78, 0.5);
}

.do-login a {
  color: #0056b3;
}

.blue-primary {
  color: #2B80C1;
}

.blue-primary-bg {
  background-color: #2B80C1;
}

.cat-images {
  height: 160px;
}

.cat-images .topleft {
  top: -22px;
  left: 16px;
  width: 65px;
  height: 44px;
  z-index: 2;
  border-radius: 10px;
}

.cat-images .main {
  height: 100%;
  margin-left: -50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  border-radius: 20px;
}

.cat-images .botright {
  bottom: -29px;
  right: -42px;
  width: 85px;
  height: 58px;
  z-index: 2;
  border-radius: 10px;
}

.bg-image {
  z-index: -1;
}

.images .position-absolute {
  top: -77px;
  left: -57px;
  width: 151px;
  height: 105px;
  border-radius: 20px;
}

.images img {
  border-radius: 23.5px;
}

.about-us {
  background-image: url("assets/images/about us/background.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  position: relative;
}

.about-us::before {
  content: "";
  position: absolute;
  width: 34%;
  height: 129%;
  top: -20%;
  left: 66%;
  background: url("assets/images/about us/M for about us.svg") 0 0 no-repeat;
}

.about-us .yellow-bg {
  background-color: #E8E029;
  border-radius: 60px;
}

.about-us .about-image1 {
  margin-top: -30px;
}

.about-us .about-image1 img {
  width: 262.5px;
  z-index: 2;
  position: relative;
}

.about-us .about-image1 .position-absolute {
  top: 78px;
  left: -78px;
  z-index: 1;
}

.about-us .about-image1 .position-absolute .big1 {
  width: 245px;
  margin-top: -20.5px;
  margin-left: 15px;
}

.about-us .about-image1 .position-absolute .little1 {
  width: 40px;
}

.about-us .about-image1 .position-absolute .yellow-points1 {
  width: 130.5px;
  margin-left: 36px;
  top: -120px;
}

.about-us .about-image2 img {
  width: 262.5px;
  z-index: 2;
  position: relative;
}

.about-us .about-image2 .position-absolute {
  top: -27px;
  left: 56px;
  z-index: 1;
}

.about-us .about-image2 .position-absolute .big2 {
  width: 160px;
  margin-top: -14.5px;
  margin-left: 85.5px;
}

.about-us .about-image2 .position-absolute .little2 {
  width: 40px;
}

.about-us .about-image2 .position-absolute .yellow-points2 {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  width: 130.5px;
  margin-left: 86px;
  top: -105px;
}

.about-us .about-text1, .about-us .about-text2 {
  max-width: 292px;
}

.comments {
  background-image: url("assets/images/comments/bg_gradient.svg");
  overflow: hidden;
}

.comments .main, .comments .m2, .comments .m3 {
  background-color: white;
  -webkit-box-shadow: 0px 18px 52.8537px rgba(215, 228, 249, 0.5);
          box-shadow: 0px 18px 52.8537px rgba(215, 228, 249, 0.5);
  border-radius: 20px;
  z-index: 2;
}

.comments .main {
  background-image: url("assets/images/comments/quote.svg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 18px;
}

.comments .m2 {
  width: 414px;
  height: 222px;
  top: 34px;
  left: 16px;
  z-index: 1;
}

.comments .m3 {
  width: 377px;
  height: 202px;
  top: 66px;
  left: 34px;
  z-index: 0;
}

.comments .circle1 {
  top: -96.5px;
  left: -124.5px;
}

.comments .circle1 img {
  width: 83px;
}

.comments .circle2 {
  top: 35px;
  left: -300px;
}

.comments .circle2 img {
  width: 57px;
}

.comments .circle3 {
  width: 64px;
  bottom: -69px;
  left: -200px;
}

.comments .circle3 img {
  width: 57px;
}

.comments .circle4 {
  right: -89px;
  top: -105px;
}

.comments .circle4 img {
  width: 57px;
}

.comments .circle5 {
  top: 52px;
  right: -221px;
}

.comments .circle5 img {
  width: 94px;
}

.comments .circle6 {
  bottom: -98px;
  right: -121px;
}

.comments .circle6 img {
  width: 54px;
}

.comments .top-blue-points {
  top: -60px;
  left: 315px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.comments .top-blue-points img {
  width: 130.5px;
}

.comments .top-yellow-points {
  bottom: 31px;
  left: 7px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.comments .top-yellow-points img {
  width: 130.5px;
}

footer {
  background-color: #2B80C1;
}

footer .footer-logo {
  border-bottom: 1px solid #FFFFFF;
}

footer .title {
  text-transform: uppercase;
}

footer .bottom {
  background-color: #fff;
}

footer .bottom .social-links {
  left: 104px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .bottom .social-links img {
  width: 16px;
}

footer .bottom p a {
  text-decoration: underline;
}

.box {
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 0px 40px rgba(39, 45, 78, 0.1);
          box-shadow: 0px 0px 40px rgba(39, 45, 78, 0.1);
  border-radius: 13px;
}

.underline {
  text-decoration: underline;
}

.bw0 {
  border-width: 0;
}

.bw05 {
  border-width: .5px;
}

.bor05 {
  border: 0.5px solid #8692A6;
}

.bor-rad4 {
  border-radius: 4px;
}

.bor-rad5 {
  border-radius: 5px;
}

.bor-rad10 {
  border-radius: 10px;
}

.bor-rad20 {
  border-radius: 20px;
}

.bor-rad55 {
  border-radius: 55px;
}

.bw05 {
  border-width: .5px;
}

.bor-circ {
  border-radius: 100%;
}

.next {
  background-color: #2B80C1;
}

.aclas {
  color: #007bff;
}

.abs-logo {
  top: 61px;
  left: 120px;
}

.bg-green {
  background-color: rgba(6, 167, 125, 0.12);
}

.bg1 {
  background-color: #FAFCFF;
}

.green {
  color: #06A77D;
}

.bg-blue {
  background-color: #E6F0F8;
}

.bg-white {
  background-color: #fff;
}

.no-bg {
  background: none;
}

.no-width {
  max-width: unset !important;
}

.big-blue {
  left: 78px;
  bottom: 126.5px;
}

.big-blue img {
  width: 40px;
}

.little-blue {
  left: 139px;
  bottom: 70px;
}

.little-blue img {
  width: 22px;
}

.little-yellow {
  right: 78.5px;
  bottom: 238px;
}

.little-yellow img {
  width: 28px;
}

.bottom-yellow-points {
  left: 67.5px;
  bottom: -228px;
}

.bottom-blue-points {
  bottom: -40px;
  right: 80px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.blue-sunshine {
  width: 100%;
}

.blue-sunshine img {
  margin-top: -60px;
}

.box-shadow {
  -webkit-box-shadow: 0px 8px 28px rgba(39, 45, 78, 0.06);
          box-shadow: 0px 8px 28px rgba(39, 45, 78, 0.06);
}

.shadow1 {
  -webkit-box-shadow: 0px 3px 11px rgba(39, 45, 78, 0.07);
          box-shadow: 0px 3px 11px rgba(39, 45, 78, 0.07);
}

.gray {
  color: #8692A6;
}

.active {
  background-color: #E6F0F8;
}

.search {
  cursor: pointer;
}

.backnone {
  background: none;
}

.vert-top {
  vertical-align: top;
}

.text-upper {
  text-transform: uppercase;
}
/*# sourceMappingURL=style.css.map */